[submodule "backend"]
	path = backend
	url = https://github.com/TKasperczyk/mern-app-template-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/TKasperczyk/mern-app-template-frontend
